/* Basic CSS resets -- leveling slight inconsistencies in browsers */

@font-face {
font-family: 'creep';
src:url('Creepster.ttf');

}

html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	font-family:'creep';
	color:#eb7134;
	background-color:#573321;
}


#container {
	
}




